<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원정보</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/admin">관리자 페이지</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasRole('ADMIN')" href="/admin/users">회원 관리</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원정보</h4>
        </div>
    </div>
    <form>
        <div class="mb-3">
            <label for="id" class="form-label">회원번호</label>
            <input type="text" id="id" th:value="${user.id}" class="form-control" readonly>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">사용자ID</label>
            <input type="text" th:value="${user.username}" id="username" class="form-control"  readonly>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" id="email" th:value="${user.email}" class="form-control" readonly>
        </div>
        <div class="mb-3">
            <label for="nickname" class="form-label">닉네임</label>
            <input type="text" id="nickname" th:value="${user.nickname}" class="form-control" readonly>
        </div>
        <a href="#" th:data-uri="@{|/admin/updateholics/${user.id}|}" id="updateholics" class="btn btn-info my-2">홀릭스로 등업</a>
        <a href="#" th:data-uri="@{|/admin/updateAdmin/${user.username}|}" id="updateadmin" class="btn btn-primary">관리자로 승격</a>
        <a href="#" th:data-uri="@{|/admin/deleteuser/${user.id}|}" id="deleteuser" class="btn btn-danger">계정 삭제</a>
    </form>
</div>
</div>
<script th:src="@{/js/user-info.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>