<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>자유게시판</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">자유게시판</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{|/auth/login|}">로그인</a>
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{|/auth/logout|}">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{|/auth/sign-up|}">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container my-4">
    <div class="input-group my-3">
                    <span class="input-group-text"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg>
                      </span>
        <input type="text" name="key" id="search_value" class="form-control"
               placeholder="제목" th:value="${search}">
        <span class="input-group-btn"><button class="btn btn-outline-success"
                                              type="submit" id="btn_search">검색 </button> </span>
    </div>
    <hr>
    <div th:each="list, loop : ${main_post}">
        <div class="card my-2">
            <p class="card-header">
                <span class="text-start">#[[${main_post.getTotalElements - (main_post.number * main_post.size) - loop.index}]]</span>
            </p>
            <div class="card-body">
                <h3 class="card-title"><a th:href="@{|/mainpost/comment/${list.id}|}"
                                           th:text="${list.title}"></a>
                </h3>
                <h6 class="card-subtitle mb-2 text-muted" th:if="${list.user != null}"
                    th:text="${list.user.nickname}"></h6>
                <p class="card-text col-2 text-truncate">[[${list.content}]]</p>
                <p><span
                        class="badge rounded-pill bg-info bg-opacity-75" th:if="${#lists.size(list.mainPostComents) > 0}">+[[${#lists.size(list.mainPostComents)}]]</span></p>
            </div>
            <div class="card-footer text-muted" th:text="${#temporals.format(list.createdDate, 'yyyy-MM-dd HH:mm')}">
            </div>
        </div>
    </div>

    <div class="mt-1 mb-auto d-grid gap-1">
        <a href="/mainpost/save" sec:authorize="isAuthenticated()"
           th:classappend="${!(userinfo.getIs_holics())} ? 'disabled'" class="btn btn-outline-primary" id="button_save">게시글등록</a>
    </div>
</div>

<div class="container">
    <div th:if="${!main_post.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!main_post.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:data-page="${main_post.number-1}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, main_post.totalPages-1)}"
                th:if="${page >= main_post.number - 5 and page <= main_post.number + 5}"
                th:classappend="${page == main_post.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" th:data-url="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${!main_post.hasNext} ? 'disabled'">
                <a class="page-link" th:data-page="${main_post.number+1}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <form th:action="@{/mainpost/mainlist}" method="get" id="searchForm">
        <input type="hidden" id="search" name="search" th:value="${search}">
        <input type="hidden" id="page" name="page" th:value="${main_post.number}">
    </form>
</div>
<script th:src="@{/js/mainpost.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>

