<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">메인화면</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/mainpost/mainlist">자유게시판</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{|/auth/login|}">로그인</a>
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{|/auth/logout|}">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{|/auth/sign-up|}">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container my-4">
    <h2 class="border-bottom py-3 mx-auto col-md-10">[[${main_post.title}]]</h2>
    <div class="card border-dark my-3  mx-auto col-md-10">
        <div class="card-header" th:if="${main_post.user != null}" th:text="${main_post.user.nickname}"></div>
        <div th:if="${main_post.fileId != null}" class="mx-2 my-2">
            <strong>첨부파일 : </strong>
            <a class="card-text" th:href="@{'/mainpost/download/' + ${main_post.fileId}}" th:text="${filename}"></a>
        </div>
        <img th:src="@{'/mainpost/display/' + ${main_post.getFileId()}}" id="displayimage"
             th:if="${main_post.getFileId() != null}" class="card-img-top my-3" alt="이미지">
        <div class="card-body">
            <h6 class="card-text">[[${main_post.content}]]</h6>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:if="${main_post.createdDate != null}">created on
                [[${#temporals.format(main_post.createdDate, 'yyyy-MM-dd HH:mm')}]]
            </li>
            <li class="list-group-item" th:if="${main_post.modifiedDate != null}">modified on
                [[${#temporals.format(main_post.modifiedDate, 'yyyy-MM-dd HH:mm')}]]
            </li>
            <li class="list-group-item">조회수 : [[${main_post.viewcount}]]</li>
        </ul>
        <div class="card-body my-1">
            <a th:href="@{|/mainpost/put/${main_post.id}|}" class="btn btn-sm btn-outline-secondary"
               sec:authorize="isAuthenticated()"
               th:if="${main_post.user != null and #authentication.getPrincipal().getUsername() == main_post.user.username}"
               th:text="수정"></a>
            <a href="#" th:data-uri="@{|/mainpost/delete/${main_post.id}|}" id="deletebtn"
               class="btn btn-sm btn-outline-danger" sec:authorize="isAuthenticated()"
               th:if="${(main_post.user.username != null and #authentication.getPrincipal().getUsername() == main_post.user.username) or userinfo.getRoleKey() == 'ROLE_ADMIN' }"
               th:text="삭제"></a>
            <a href="#" class="btn btn-sm btn-outline-info" id="recommend"
               th:data-uri="@{|/mainpost/like/${main_post.id}|}">
                추천
                <span class="badge rounded-pill bg-info" th:text="${#lists.size(main_post.like)}"></span>
            </a>
            <a href="#" class="btn btn-sm btn-outline-info" id="scrap" sec:authorize="isAuthenticated()"
               th:data-uri="@{|/api/auth/user/scrap/${#authentication.getPrincipal().getUsername()}?postid=${main_post.id}|}">
                스크랩
            </a>
        </div>
    </div>
    <hr class="mx-auto col-md-10">
    <h2 class="text-center mx-auto col-md-10">[[${#lists.size(main_post.list)}]]개의 답변이 있음</h2>
    <hr class="mx-auto col-md-10">
    <form  th:action="@{|/mainpost/comment/post/${main_post.id}|}" th:object="${commentSaveDto}" method="post"
          class="my-3 mx-auto col-md-10">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
        </div>
<!--        <label for="content" class="form-label">댓글</label>-->
        <textarea sec:authorize="isAnonymous()" disabled rows="1" class="form-control">로그인 후 이용해 주세요.</textarea>
<!--        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="1" class="form-control"></textarea>-->
        <div class="input-group mb-3" sec:authorize="isAuthenticated()">
            <input type="text" class="form-control" th:field="*{content}" placeholder="댓글을 입력해주세요." aria-describedby="button-addon2">
            <input class="btn btn-outline-secondary" type="submit" id="button-addon2" value="댓글 등록">
        </div>

<!--        <input sec:authorize="isAuthenticated()" type="submit" class="btn btn-primary my-2" value="답글등록">-->
    </form>
    <div class="card border-info my-3 mx-auto col-md-10" th:each="commentlist : ${main_post.list}">
        <a th:id="|comment_${commentlist.id}|"></a>
        <div class="card-header" th:if="${commentlist.user != null}" th:text="${commentlist.user.nickname}"></div>
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">[[${commentlist.content}]]</div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" th:if="${commentlist.modifiedDate != null}">modified at
                [[${#temporals.format(commentlist.modifiedDate, 'yyyy-MM-dd HH:mm')}]]
            </li>
            <li class="list-group-item" th:if="${commentlist.createdDate != null}">created at
                [[${#temporals.format(commentlist.createdDate, 'yyyy-MM-dd HH:mm')}]]
            </li>
        </ul>
        <div class="card-body my-1">
            <a th:href="@{|/mainpost/comment/put/${commentlist.id}|}" class="btn btn-sm btn-outline-secondary"
               sec:authorize="isAuthenticated()"
               th:if="${commentlist.user != null and #authentication.getPrincipal().getUsername() == commentlist.user.username}"
               th:text="수정"></a>
            <a href="#" th:data-uri="@{|/mainpost/comment/delete/${commentlist.id}|}" id="deletebtn"
               class="btn btn-sm btn-outline-danger" sec:authorize="isAuthenticated()"
               th:if="${ (commentlist.user != null and #authentication.getPrincipal().getUsername() == commentlist.user.username) or userinfo.getRoleKey() == 'ROLE_ADMIN'}"
               th:text="삭제"></a>
            <a href="#" class="btn btn-sm btn-outline-info" id="recommend"
               th:data-uri="@{|/mainpost/comment/like/${commentlist.id}|}">
                추천
                <span class="badge rounded-pill bg-info" th:text="${#lists.size(commentlist.like)}"></span>
            </a>
        </div>
    </div>

</div>
<script th:src="@{/js/mainpost_comment.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
</body>
</html>