<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>답변</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">메인화면</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/mainpost/mainlist">자유게시판</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{|/auth/login|}">로그인</a>
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{|/auth/logout|}">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  sec:authorize="isAnonymous()" th:href="@{|/auth/sign-up|}">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container my-4">
    <h2 class="border-bottom py-3">[[${main_post.title}]]</h2>
    <div class="card border-dark my-3">
        <div class="card-header" th:if="${main_post.user != null}" th:text="${main_post.user.nickname}"></div>
        <div class="card-body">
            <h6 class="card-text">[[${main_post.content}]]</h6>
            <div class="d-flex justify-content-end">
                <p class="badge bg-light text-black p-3 text-center">[[${main_post.modifiedDate}]]</p>
            </div>
            <div class="my-3">
                <a th:href="@{|/mainpost/put/${main_post.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${main_post.user.username != null and #authentication.getPrincipal().getUsername() == main_post.user.username}"
                   th:text="수정"></a>
            </div>
        </div>
    </div>
    <hr>
    <h2 class="text-center">[[${#lists.size(main_post.list)}]]개의 답변이 있음</h2>
    <hr>
            <div class="card my-3" th:each="commentlist : ${main_post.list}">
                <div class="card-header" th:if="${commentlist.user != null}" th:text="${commentlist.user.nickname}"></div>
                <div class="card-body">
                    <div class="card-text" style="white-space: pre-line;">[[${commentlist.content}]]</div>
                    <div class="d-flex justify-content-end">
                        <p class="badge bg-light text-dark p-2 text-start">[[${#temporals.format(commentlist.createdDate, 'yyyy-MM-dd HH:mm')}]]
                        </p>
                        </p>
                    </div>
                </div>
            </div>
    <form th:action="@{|/mainpost/comment/post/${main_post.id}|}" th:object="${commentSaveDto}" method="post" class="my-3">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
        </div>
        <label for="content" class="form-label">답글</label>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="5" class="form-control"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="5" class="form-control"></textarea>
        <input type="submit" class="btn btn-primary my-2" value="답글등록">
    </form>
</div>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>