<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>답변</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">메인화면</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/mainpost/mainlist">자유게시판</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{|/auth/login|}">로그인</a>
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{|/auth/logout|}">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{|/auth/sign-up|}">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container my-4">
    <h2 class="border-bottom py-3">[[${main_post.title}]]</h2>
    <div class="card border-dark my-3">
        <div class="card-header" th:if="${main_post.user != null}" th:text="${main_post.user.nickname}"></div>
        <div class="card-body">
            <h6 class="card-text">[[${main_post.content}]]</h6>
            <div class="d-flex justify-content-end">
                <div th:if="${main_post.modifiedDate != null}" class="badge bg-light text-dark p-2 text-center mx-2 my-auto">
                    <p>modified at</p>
                    <p th:text="${#temporals.format(main_post.modifiedDate, 'yyyy-MM-dd HH:mm')}"></p>
                </div>
                <div th:if="${main_post.createdDate != null}" class="badge bg-light text-black p-2 text-center mx-2 my-auto">
                    <p>created at</p>
                    <p>[[${#temporals.format(main_post.createdDate, 'yyyy-MM-dd HH:mm')}]]</p>
                </div>
                <div class="badge bg-light text-black p-2 text-center mx-2 my-auto">
                    <p>조회수</p>
                    <p>[[${main_post.viewcount}]]</p>
                </div>
            </div>
            <div class="my-1">
                <a th:href="@{|/mainpost/put/${main_post.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${main_post.user != null and #authentication.getPrincipal().getUsername() == main_post.user.username}"
                   th:text="수정"></a>
            </div>
            <div class="my-1">
                <a href="#" th:data-uri="@{|/mainpost/delete/${main_post.id}|}" id="deletebtn"
                   class="btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${main_post.user.username != null and #authentication.getPrincipal().getUsername() == main_post.user.username}"
                   th:text="삭제"></a>
            </div>
            <div class="my-1">
                <a href="#" class="btn btn-sm btn-outline-secondary" id="recommend"
                   th:data-uri="@{|/mainpost/like/${main_post.id}|}">
                    추천
                    <span class="badge rounded-pill bg-info" th:text="${#lists.size(main_post.like)}"></span>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <h2 class="text-center">[[${#lists.size(main_post.list)}]]개의 답변이 있음</h2>
    <hr>
    <div class="card my-3" th:each="commentlist : ${main_post.list}">
        <div class="card-header" th:if="${commentlist.user != null}" th:text="${commentlist.user.nickname}"></div>
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">[[${commentlist.content}]]</div>
            <div class="d-flex justify-content-end">
                <div th:if="${commentlist.modifiedDate != null}" class="badge bg-light text-dark p-2 text-center mx-2 my-auto">
                    <p>modified at</p>
                    <p th:text="${#temporals.format(commentlist.modifiedDate, 'yyyy-MM-dd HH:mm')}"></p>
                </div>
                <div th:if="${commentlist.createdDate != null}" class="badge bg-light text-black p-2 text-center mx-2 my-auto">
                    <p>created at</p>
                    <p>[[${#temporals.format(commentlist.createdDate, 'yyyy-MM-dd HH:mm')}]]</p>
                </div>
            </div>
            <div class="my-1">
                <a th:href="@{|/mainpost/comment/put/${commentlist.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${commentlist.user != null and #authentication.getPrincipal().getUsername() == commentlist.user.username}"
                   th:text="수정"></a>
            </div>
            <div class="my-1">
                <a href="#" th:data-uri="@{|/mainpost/comment/delete/${commentlist.id}|}" id="deletebtn"
                   class="btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${commentlist.user != null and #authentication.getPrincipal().getUsername() == commentlist.user.username}"
                   th:text="삭제"></a>
            </div>
            <div class="my-1">
                <a href="#" class="btn btn-sm btn-outline-secondary" id="recommend"
                   th:data-uri="@{|/mainpost/comment/like/${main_post.id}|}">
                    추천
                    <span class="badge rounded-pill bg-info" th:text="${#lists.size(commentlist.like)}"></span>
                </a>
            </div>
        </div>

    </div>
    <form th:action="@{|/mainpost/comment/post/${main_post.id}|}" th:object="${commentSaveDto}" method="post"
          class="my-3">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"/>
        </div>
        <label for="content" class="form-label">답글</label>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="5" class="form-control"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" rows="5" class="form-control"></textarea>
        <input type="submit" class="btn btn-primary my-2" value="답글등록">
    </form>
</div>
<script th:src="@{/js/mainpost_comment.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
</body>
</html>