<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go! younhacom</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <nav class="navbar fixed-top navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <h1 class="navbar-brand">채팅방</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/hellopost/hellolist">공지사항</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/hellopost/hellolist">등업신청</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mainpost/mainlist">자유게시판</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{|/auth/login|}">로그인</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a class="nav-link" th:href="@{|/auth/sign-up|}">회원가입</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()" id="userinfo"
                        th:data-rol="${#authentication.principal.username}">
                        <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            [[${#authentication.principal.username}]]
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                            <li><a class="dropdown-item" th:href="@{|/auth/update|}">회원정보 수정</a></li>
                            <li><a class="dropdown-item" th:href="@{|/auth/user/scrap/${userinfo.getId()}|}">게시글
                                스크랩</a></li>
                            <li sec:authorize="isAuthenticated()">
                                <hr class="dropdown-divider">
                            </li>
                            <li sec:authorize="isAuthenticated()"><a class="dropdown-item" th:href="@{|/auth/logout|}">로그아웃</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="hasRole('ADMIN')" href="/admin">관리자 페이지</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container my-5 pt-5">
    <div class="col-6">
        <div id="username" th:data-rol="${#authentication.principal.username}"></div>
    </div>
    <div class="col-md-8 mx-auto my-5">
        <div th:each="map : ${msglist}" th:data-date="${map.key}" id="date">
            <hr>
            <p class="fs-1" th:text="${map.key}"></p>
            <div  th:each="msg : ${map.value}">
                <div class="row justify-content-end"
                     th:if="${msg.writer == #authentication.principal.username}">
                    <b class="col-6  alert alert-secondary">[[${msg.writer}]] : [[${msg.msg}]] <br> [[${msg.localTime}]]
                    </b>
                </div>
                <div class="row  justify-content-start  "
                     th:if="${msg.writer != #authentication.principal.username}">
                    <b class="col-6 alert alert-danger">[[${msg.writer}]] : [[${msg.msg}]]<br> [[${msg.localTime}]]</b>
                </div>
            </div>
        </div>
    </div>
    <div class=" fixed-bottom mb-3 mx-auto col-10">
        <div class="input-group">
            <button class="btn btn-primary me-md-2" type="button" id="disconn">퇴장</button>
            <input type="text" id="msg" class="form-control" aria-label="Recipient's username"
                   aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button" id="button-send">전송</button>
            </div>
        </div>
    </div>
</div>


<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {

        let username = document.querySelector("#username");
        username = username.dataset.rol;
        console.log(username);
        var roomId = [[${room.roomname}]];
        var sockJs = new SockJS("/stomp/chat");
        const stomp = Stomp.over(sockJs);

        stomp.connect({}, function () {
            console.log("STOMP Connection");
            stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                var content = JSON.parse(chat.body);
                console.log(content);
                var writer = content.writter;

                let year = new Date().getFullYear();
                let month = new Date().getMonth() + 1;
                let day = new Date().getDay();
                let date = year+'-'+month+'-'+day;

                const hours = String(new Date().getHours()).padStart(2, "0");
                const min = String(new Date().getMinutes()).padStart(2, "0");
                const sec = String(new Date().getSeconds()).padStart(2, "0");
                var time = hours+":"+min+":"+sec;

                let msgarealist = document.querySelectorAll("#date");
                let msgdate = msgarealist[msgarealist.length -1].dataset.date;
                var msgarea;
                if (msgdate.valueOf(date)){
                    msgarea = msgarealist[msgarealist.length-1];
                    console.log(msgarea);
                }
                else{
                    msgarea = document.createElement("div")
                    let text = document.createTextNode(date);
                    msgarea.appendChild(text);
                    console.log(msgarea);
                }


                if (writer == username) {
                    let colnode = document.createElement("div");
                    colnode.classList.add("justify-content-end", "row");
                    let alertnode = document.createElement("b");
                    alertnode.classList.add("alert", "alert-secondary", "col-6");
                    let messagetext = document.createTextNode(writer + " : " + content.message + "\n" + time);
                    alertnode.appendChild(messagetext);
                    colnode.appendChild(alertnode);
                    msgarea.appendChild(colnode);
                } else {
                    let colnode = document.createElement("div");
                    colnode.classList.add("justify-content-start", "row");
                    let alertnode = document.createElement("b");
                    alertnode.classList.add("alert", "alert-danger", "col-6");
                    let messagetext = document.createTextNode(writer + " : " + content.message + "\n" + time);
                    alertnode.appendChild(messagetext);
                    colnode.appendChild(alertnode);
                    msgarea.appendChild(colnode);
                }
                //send(path, header, message)로 메세지를 보낼 수 있음
            });
            stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writter: username}))

        });
        let sendbtn = document.querySelector("#button-send");
        sendbtn.addEventListener("click", function (e) {
            let msg = document.getElementById("msg");
            console.log(username + ":" + msg.value);
            stomp.send("/pub/chat/message", {}, JSON.stringify({
                roomId: roomId,
                writter: username,
                message: msg.value
            }));
            msg.value = '';
        })

        let disconn = document.querySelector("#disconn");
        disconn.addEventListener("click", function () {
            stomp.send('/pub/chat/disconnect', {}, JSON.stringify({roomId: roomId, writter: username}));
            stomp.disconnect(function () {
                console.log("퇴장됨");
                location.href = "/";
            }, {});
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>